# Notebook for analyzing flights data

In [1]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_path = '/blue/bsc4452/share/Class_Files/data/flights.1K.csv'

df = pd.read_csv(data_path)
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,Origin,...,CancellationCode,Diverted,AirTime,Flights,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2019,1,1,4,5,2019-01-04,OO,N945SW,5657,SBP,...,NaN,0.0,37.0,1.0,190.0,NaN,NaN,NaN,NaN,NaN
1,2019,1,1,4,5,2019-01-04,OO,N932SW,5658,IAH,...,NaN,0.0,76.0,1.0,438.0,NaN,NaN,NaN,NaN,NaN
2,2019,1,1,4,5,2019-01-04,OO,N932SW,5658,SGF,...,NaN,0.0,88.0,1.0,513.0,NaN,NaN,NaN,NaN,NaN
3,2019,1,1,4,5,2019-01-04,OO,N916SW,5659,ISN,...,NaN,0.0,80.0,1.0,576.0,NaN,NaN,NaN,NaN,NaN
4,2019,1,1,4,5,2019-01-04,OO,N107SY,5660,MKE,...,NaN,0.0,127.0,1.0,896.0,NaN,NaN,NaN,NaN,NaN